Package: thedrhax-tmpfize
Version: 1.0.0
Provides: tmpfize
Maintainer: Дмитрий Карих (TheDrHax) <the.dr.hax@gmail.com>
Architecture: all
Section: misc
Description: Copy any directory to RAM (tmpfs) and automatically synchronize it with HDD
Depends: rsync, realpath
